.capsule__button{
    border-radius: 30px;
    cursor: pointer;
    height: 100%;
    padding: .75rem 1rem;
    display: grid;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 30px;
}

.capsule__button p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 400;
}

.capsule__button__opened{
    justify-content: flex-start!important;
}

.capsule__button__opened:hover{
    background-color: rgb(230, 231, 231);
}