@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.966);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100svh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 450px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
}

.w100{
  width: 100%;
}
.w400px{
  width: 400px!important;
}
.w100px{
  width: 100px;
}
.w130px{
  width: 130px;
}
.w118px{
  width: 118px;
}

.w270px{
  width: 270px;
}
.padleft2rem{
  padding-left: 2rem;
}
.pad-r-2rem{
  padding-right: 2rem;
}
.w-fit-content{
  width: fit-content;
}
.min-w-750px{
  min-width: 750px;
}
.justify_center{
  display: flex;
  justify-content: center;
}
.min-h-2rem{
  height: 2rem!important;
}
.gray{
  color: rgb(143, 142, 142);
}
.gap0{
  gap: 0 !important;
}
.bg-red{
  background-color: red;
}
.pad0{
  padding: 0 !important;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200!important;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300!important;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400!important;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500!important;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600!important;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700!important;
  font-style: normal;
}
.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800!important;
  font-style: normal;
}

.translateY35vh{
  transform: translateY(35vh)!important;
}


.translateY18vh{
  transform: translateY(18vh)!important;
}
.flex{
  display: flex;
}
.grid{
  display: grid;
}
.center{
  justify-content: center;
  align-items: center;
}
.square45{
  width: 45px!important;
  height: 45px!important;
}